#services
{
    flex-direction: column;
}
 #services .box
{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 2px 7px;
}
#navbar
{
    flex-direction: column;
}

#home
{
    height: 370px;
    padding: 0px 28px;
    padding-bottom: 5px;
}

#home::before{
    height: 480px;
}

#home p{
    font-size: 16px;
}

.h-primary
{
    font-size: 23px;
}

button
{
    font-size: 13px;
    padding: 4px 8px;
}

#clint{
flex-wrap: wrap;
}

#clint img{
    width: 112px;
    padding: 2px 6px;
    height: 122px;
}

.contact-box form{
    width: 80%;
}